*
  margin: 0
  padding: 0
  box-sizing: border-box

body 
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: 100vw
  height: 100vh
  justify-content: space-around
  font-family: 'Lobster', cursive
  background-color: #e6e7e8

#gameBoard 
  width: 360px 
  height: 360px
  background: #afb0b3
  position: relative
  float: left  


h1 
  font-size: 110px
  text-align: center
  flex-basis: 100vw
  height: 15vh
  letter-spacing: 5px

#description  
  display: flex
  justify-content: center
  align-items: center
  flex-basis: 100vw


p 
  text-align: center
  width: 50vw


.square   
  width: 60px
  height: 60px
  background: #616263
  position: absolute

#robot
  width: 60px
  height: 60px
  position: absolute
  text-align:center
  margin: 0 auto

.button 
  width: 40px
  height: 40px
  background: #ff0000
  float: left
  margin: 1px
  font-size: 32px
  text-align: center

.button:hover 
  cursor: pointer
  filter: brightness(90%)
 
.empty 
  width: 40px
  height: 40px
  background: #e6e7e8
  float: left
  margin: 1px
  font-size: 32px

#result
  display: flex
  justify-content: center
  flex-basis: 20vw
  font-size: 30px
  letter-spacing: 2px

#UIwrapper 
  display: flex
  justify-content: space-around
  align-items: center
  flex-basis: 40vw
  height: 40vh

.break
  clear: both


#finish 
  font-size: 32px
  color: #ff0000