body 
  display: flex
  flex-direction: row
  flex-wrap: wrap
  width: 100vw
  height: 100vh
  justify-content: space-around
  font-family: 'Orbitron'
  background-color: #e6e7e8
  max-width: 1400px
  margin: auto