.description  
  display: flex
  justify-content: center
  align-items: center
  flex-basis: 100vw
  margin-bottom: 10vh
  &__text 
    text-align: center
    width: 640px
    @media (min-width: 1400px)
      width: 1000px
      font-size: 25px
  